@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root{
    --laranja: #f6aa1c;
    --Azul: #00072d;
    font-family: 'Comfortaa', cursive;
}

main{
    background-image: url(../imgs/bgs/background\ \(1\).jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#elenco{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}



.titulo{
    width: 70%;
    background-color: var(--laranja);
    border-radius: 1000px 0px 1000px 0px;
    text-align: center;
    font-size: 99.18pt;
}

.classes{
    padding: 50px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.classe{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.classe-tipo{
    background-color: var(--Azul);
    width: 300px;
    border-radius: 1000px 1000px 0px 0px ;
    padding: 10px;

    color: var(--laranja);
    font-size: 37.78pt;
    text-align: center;
}

.box{
    background-image: url(../imgs/bgs/Padrão.jpg);
    width: 340px;
    border-radius: 10px;
}

.poke-icon{
    width: 100px;
    height: 100px;
    background-color: var(--Azul);
    border: 2px solid var(--laranja);
    border-radius: 10px;
    margin: 5px;
}

/* Pokeinfo */

#pokeinfo{
    width: 70%;
    background-image: url(../imgs/bgs/Padrão.jpg);
    border-radius: 50px;
    padding: 30px;
    margin: 200px;  

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#pokeimg{
    width: 40%;
    background-color: var(--Azul);
    border-radius: 50%;

    padding: 20px;
}

#nomePokemon{
    color:  aliceblue;

    font-size: 4rem;
}

#tipoAtaque{
    width: 40%;
    background-color: var(--Azul);
    border-radius: 50px;
    padding: 10px;

    color: red;
    font-weight: lighter;
    font-size: 1.4rem;
    text-align: center;
}

#evo{
    background-color: var(--Azul);
    border-radius: 50px;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px;
}

.miniCard{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--laranja);
}

.evoIcone{
    width: 40%;
    background-color: var(--laranja);
    border-radius: 50%;
    padding: 10px;
}

.descriEvo{
    display: flex;
    flex-direction: column;
}

article{
    background-color: var(--Azul);
    border-radius: 30px;
    padding: 50px;
    gap: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habilidade{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.nomeHabilidade{
    font-size: 2.5rem;
    color: aliceblue;
}

.tipoHabilidade{
    font-size: 1.5rem;
    color: var(--laranja);
}

.descricao{
    color: aliceblue;
}

.habilidadeBasica{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primaria{
    display: flex;
    gap: 20px;
}

.escolha{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.habilidadeEscolha{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info{
    display: flex;
    gap: 50px;
}

.ultBox{
    margin-top: 30px;
}